# Build files
.gradle
.kotlin
build
.cxx

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures
/.update-feed

# Configuration files
keystore.properties
local.properties
*.jks
extensions/keystore/

# macOS specific files
.DS_Store
